@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Bariol";
  src: url("bariol.ttf");
}

:root {
  --heading-font: "Bariol", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --heading: 222 35% 25%;
  --body: 230 12% 28%;
  --border: 0 0% 90%;
  --base-h: 347;
  --base-s: 72%;
  --base-l: 49%;
  --base: var(--base-h) var(--base-s) var(--base-l);
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.7;
  color: hsl(var(--body));
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: hsl(var(--body));
}

a:hover {
  color: hsl(var(--base));
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
span,
sub,
sup,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.3;
  color: hsl(var(--heading));
  font-family: var(--heading-font);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: hsl(var(--heading));
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
}

@media (max-width: 1600px) {
  .banner-title {
    font-size: 56px;
  }
}

.banner-title sup {
  color: #678;
  font-size: 22px;
  bottom: 0;
  transform: translate(-8px, -17px);
}

.banner-text {
  font-size: 24px;
  max-width: 600px;
  margin-top: 15px;
  line-height: 1.5;
  text-align: center;
  margin-inline: auto;
}

@media (max-width: 1600px) {
  .banner-text {
    font-size: 22px;
  }
}

.banner-text sup {
  font-size: 15px;
  transform: translate(-2px, -5px);
}

.bg-banne-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.banner-section {
  background-color: hsl(var(--light-900) / 0.15);
  padding: 100px 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 1600px) {
  .banner-section {
    padding: 50px 0;
  }
}

.banner-section .banner-logo {
  margin-bottom: 40px;
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-color: hsl(var(--light));
  border-radius: 50%;
}

@media (max-width: 1600px) {
  .banner-section .banner-logo {
    width: 200px;
    height: 200px;
  }
}

.banner-section .cmn--btn {
  min-width: 180px;
  justify-content: center;
}

.banner-content-left {
  width: 49%;
  text-align: center;
}

.banner-content-right {
  width: 49%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.banner-content-right .cmn--btn {
  border-radius: 25px 0 0 0;
}

.middle-devider {
  width: 10px;
  background-color: #f4b400;
  position: relative;
  border-radius: 20px;
}

.middle-devider .dot {
  position: absolute;
  left: 0;
  width: 15px;
  transform: translateX(-20%);
  aspect-ratio: 1;
  background-color: hsl(var(--base));
  border-radius: 50%;
}

.middle-devider .dot1 {
  top: -50px;
  background-color: #db4437;
}

.middle-devider .dot2 {
  background-color: #4285f4;
  top: -100px;
}

.middle-devider .dot3 {
  bottom: -50px;
  background-color: #0f9d58;
}

.middle-devider .dot4 {
  bottom: -100px;
  background-color: #4285f4;
}

.middle-devider .dot5 {
  bottom: -150px;
}

/* Partner Css */

.section-area {
  padding: 80px 0;
}

@media (max-width: 575px) {
  .section-area {
    padding: 50px 0;
  }
}

.partner-item {
  width: 100%;
  aspect-ratio: 1;
  background-color: #212529;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
}

.partner-item .image-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  user-select: none;
}

.partner-item .title {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

/* Partner Css */

/* Package Css */

.package-section {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 60px;
}

.notice-box {
  background-color: #ffc10718;
  border: 1px solid #ffc107;
  padding: 1.5rem 2.5rem;
  font-size: 15px;
  display: inline-block;
}

.notice-box .box-single:not(:last-child) {
  margin-bottom: 24px;
}

.package-item {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 8px #21252915;
}

.package-inner {
  border: 1px solid #e1e1e1;
  border-top: 0;
  border-radius: 0 0 7px 7px;
}

.package-item .package-header {
  padding: 25px;
  background-color: #f5642830;
  border-radius: 6px 6px 0 0;
  min-height: 100px;
  border-bottom: none !important;
}

.package-item .package-header p {
  font-size: 15px;
  color: #555;
}

div[class*="col"]:nth-of-type(3n + 1) .package-item .package-header {
  background-color: #3864e525;
  border: 1px solid #3864e528;
}

div[class*="col"]:nth-of-type(3n + 2) .package-item .package-header {
  background-color: #01b70025;
  border: 1px solid #01b70028;
}

div[class*="col"]:nth-of-type(3n + 3) .package-item .package-header {
  background-color: #f5642825;
  border: 1px solid #f5642828;
}

.package-item .package-body {
  padding: 35px 25px;
}

.package-item .package-body .list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.package-item .package-body .list li {
  padding: 5px 0;
  color: #777;
  font-size: 15px;
}

.package-item .package-body .list li i {
  font-size: 13px;
}

.package-item .package-footer {
  margin: 25px;
  margin-top: 0;
  padding-top: 25px;
  font-size: 15px;
  border-top: 1px solid #ebebeb;
}
.text-info {
  color: rgb(0, 177, 221) !important;
}
/* Package Css */

/* Nav Css */
.custom-menu {
  list-style: none;
  gap: 15px;
  font-weight: 500;
}
#nav-home .lts-home {
  font-size: 26px;
  color: #979494;
}

#nav-home .lts-home:hover {
  color: #208420;
  transform: scale(1.2);
}

#nav-home .arrow {
  font-size: 16px;
  margin-left: 20px;
}

#nav-home {
  font-size: 26px;
  color: #979494;
}

#nav-home:hover {
  color: #208420;
  transform: scale(1.2);
}
/* Nav Css */

footer a {
  color: #418cdd;
}
.fw-medium {
  font-weight: 500 !important;
}

/* Shows */
.message-item-icon {
  transition: 0.3s;
}
.message-item-icon:hover {
  transform: translateY(-5px);
}
.message-item-icon .icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background: url("../images/ins-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  box-shadow: 1px 2px 6px #4e084e77;
  position: relative;
}
.message-item-icon .icon::before {
  position: absolute;
  content: "";
  width: 82%;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 50%;
}
.message-item-icon .content {
  padding: 12px 25px;
  padding-left: 40px;
  margin-left: -25px;
  border-top-right-radius: 25px;
  background-color: #ff2393;
  box-shadow: 1px 2px 6px #4e084e87;
}

.message-item-icon.facebook .icon,
.message-item-icon.facebook .content {
  background: #1674ea;
  box-shadow: 1px 2px 6px #201f2087;
}

.message-item-icon.phone .icon {
  background: #303b50;
  box-shadow: 1px 2px 6px #000000a9;
}
.message-item-icon.phone .content {
  background: #303b50;
  box-shadow: 1px 2px 6px #00000077;
}

@media (max-width: 1400px) {
  .direct-msg-title {
    font-size: 22px;
  }
}

.show-item {
  padding: 1.5rem;
  box-shadow: 0 3px 35px #00000015;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}
.show-item .icon img {
  max-width: 150px;
  max-height: 85px;
  margin-bottom: 25px;
  object-fit: contain;
}
.show-item .content {
  margin-top: auto;
}

.info-box1 {
  box-shadow: 0 3px 35px #00000015;
}
.info-box1 .icon {
  width: 100px;
  font-size: 50px;
}
.info-box1 .content {
  padding: 1rem;
}
/* Shows */

/* Index */

.all-text-wrap {
  margin-inline: auto;
  text-align: justify;
}

.all-text-wrap .banner-text {
  max-width: 900px;
  text-align: start;
}

.one-page-logo {
  max-width: 500px;
  margin-inline: auto;
  width: 100%;
}

.follow-icon {
  width: 60px;
}

@media (max-width: 1199px) {
  .all-text-wrap .banner-text {
    max-width: 700px;
    font-size: 20px;
  }

  .one-page-logo {
    max-width: 350px;
  }
}

@media (max-width: 991px) {
  .all-text-wrap .banner-text {
    max-width: 600px;
    font-size: 19px;
  }

  .one-page-logo {
    max-width: 350px;
  }
}

@media (max-width: 575px) {
  .one-page-logo {
    max-width: 250px;
  }

  .all-text-wrap .banner-text {
    font-size: 18px;
  }
}

ul.social-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 15px;
  padding: 0;
}

ul.social-links li:nth-child(2) {
  transform: translateX(50px);
}

ul.social-links li:nth-child(4) {
  transform: translateX(50px);
}

ul.social-links-two li:nth-child(2) {
  transform: translateX(-50px);
}

ul.social-links-two li:nth-child(4) {
  transform: translateX(-50px);
}

ul.social-links li:nth-child(1) a {
  animation: bounceUp 3s ease-out infinite;
  animation-delay: 0.5s;
}

ul.social-links li:nth-child(2) a {
  animation: bounceUp 3s ease-out infinite;
  animation-delay: 1s;
}

ul.social-links li:nth-child(3) a {
  animation: bounceUp 3s ease-out infinite;
  animation-delay: 1.5s;
}

ul.social-links li:nth-child(4) a {
  animation: bounceUp 3s ease-out infinite;
  animation-delay: 2s;
}

ul.social-links li a {
  width: 35px;
  height: 35px;
}

ul.social-links li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-links-one {
  position: absolute;
  left: 30px;
  bottom: 0;
}

.social-links-two {
  position: absolute;
  right: 30px;
  bottom: 0;
}

@media (max-width: 1600px) {
  .social-links {
    bottom: 150px;
  }
}

@media (max-width: 991px) {
  .social-links {
    bottom: 0;
    position: relative;
    margin-top: 35px;
  }

  .social-links-one {
    left: 20px;
  }

  .social-links-two {
    right: 20px;
  }

  ul.social-links li a {
    width: 66px;
    height: 66px;
  }
}

@keyframes bounceUp {
  10% {
    transform: translateY(-20px);
  }

  35% {
    transform: translateY(0px);
  }
}
/* Index */
